*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:where(html) {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  hanging-punctuation: first allow-end last;
  interpolate-size: allow-keywords;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: none;
}

:where(html.translated-rtl) {
  direction: rtl;
}

@media (prefers-reduced-motion: reduce) {
  :where(html) {
    scroll-behavior: auto;
  }
}

:where(body) {
  min-inline-size: 300px;
  min-block-size: 100svb;
}

:where(canvas, img, picture, svg, video) {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  border: none;
}

:where(button, input, progress, select, textarea) {
  color: inherit;
  font: inherit;
  line-height: inherit;
  text-align: start;
  background: transparent;
  border: none;
  touch-action: manipulation;
  appearance: none;
  hanging-punctuation: none;
}

:where(button) {
  cursor: pointer;
  user-select: none;
}

:where(textarea) {
  resize: vertical;
}

:where(textarea:not([rows])) {
  field-sizing: content;
}

:where(fieldset, iframe) {
  border: none;
}

:where(p, li, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

:where(abbr[title]) {
  text-decoration: none;
  border: none;
}

:where(cite) {
  font-style: inherit;
}

:where(small) {
  font-size: inherit;
}

:where(li, ol, ul) {
  list-style: none;
}

:where(dialog, [popover]) {
  position: fixed;
  max-inline-size: none;
  max-block-size: none;
  margin: auto;
  color: inherit;
  background: transparent;
  border: none;
}

:where([popover]) {
  inset: auto;
}

:where(dialog:not([open], [popover]), [popover]:not(:popover-open)) {
  display: none;
}

:where([hidden]:not([hidden='until-found'])) {
  display: none !important;
}
