:root {
  /* Kerning */
  font-kerning: normal;

  /* Ligatures (fi, fl) */
  font-variant-ligatures: common-ligatures contextual;
}

/* Font smoothing for dark backgrounds */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Headlines */
:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

/* Body text */
:where(p, li, dd, blockquote) {
  text-wrap: pretty;
}
