---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Experiments">
  <section class="wrapper"><div class="container empty-placeholder"></div></section>


</Layout>

<style>
  .empty-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
</style>
